@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background-color: var(--bg-dark1);
  border-radius: var(--quadrado);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark3);
  border-radius: var(--quadrado);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-jq);
}

:root {
  --color-border: #0765a8;
  --color-title-dark: #fff;
  --color-text-dark: #aaa;
  --color-border-dark: #333;
  --bg-dark0: #151515;
  --bg-dark1: #202020;
  --bg-dark2: #252525;
  --bg-dark3: #303030;
  --identificador: red;
  --title-h1: 2rem;
  --title-h2: 1.5rem;
  --title-h3: 1.3rem;
  --title-h4: 1.2rem;
  --title-h5-h6: 1.1rem;
  --code-size: 0.9rem;
  --title: "Roboto", "Ubuntu", sans-serif;
  --texto: "Ubuntu", sans-serif;
  --color-jq: #0765a8;
  --color-jq-hover: #fff;
  --padding-contall: 20px;
  --padding-contw: 0 20px;
  --padding-conth: 20px 0;
  --padding-botao: 10px 20px;
  --margin-contall: 20px;
  --margin-contw: 0 20px;
  --margin-conth: 20px 0;
  --gap-min: 10px;
  --gap-med: 20px;
  --gap-max: 40px;
  --largura-content: 1440px;
  --quadrado: 5px;
  --redondo: 20px;
  --circle: 50%;
}

body {
  width: 100vw;
  font-family: var(--texto);
  background: var(--bg-dark0);
  color: var(--color-text-dark);
}
body .title {
  font-family: var(--title);
  color: var(--color-title-dark);
}
body h1 {
  font-size: var(--title-h1);
}
body h2 {
  font-size: var(--title-h2);
}
body h3 {
  font-size: var(--title-h3);
}
body h4 {
  font-size: var(--title-h4);
}
body h5, body h6 {
  font-size: var(--title-h5-h6);
}
body hr {
  border-color: var(--color-border-dark);
  margin: var(--margin-conth);
}
body a {
  color: var(--color-jq);
  font-weight: bold;
  text-decoration: none;
}
body a:hover {
  color: var(--color-jq-hover) jjj;
}
body a.btn {
  display: inline-block;
  padding: var(--padding-botao);
  background: var(--bg-dark3);
  border-radius: 5px;
  transition: 0.5s;
  color: var(--color-jq-hover);
}
body a.btn:hover {
  background: var(--color-jq);
}
body .btns {
  display: flex;
  align-items: center;
  -moz-column-gap: var(--gap-med);
       column-gap: var(--gap-med);
}
body .header, body .header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-dark1);
}
body .header section, body .header-home section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--largura-content);
  padding: var(--padding-contall);
}
body .header section .logo a, body .header-home section .logo a {
  display: flex;
  align-items: center;
  gap: var(--gap-min);
}
body .header section .logo a .jq-icon, body .header-home section .logo a .jq-icon {
  fill: var(--color-jq);
  width: 38px;
}
body .header section .logo a .logotipo, body .header-home section .logo a .logotipo {
  font-size: var(--title-h1);
  font-weight: bold;
  color: var(--color-title-dark);
}
body .main {
  display: flex;
  justify-content: center;
}
body .main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--largura-content);
  padding: var(--padding-contall);
}
body .main section .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: var(--padding-conth);
  gap: var(--gap-med);
}
body .main section .cards .card {
  display: grid;
  align-content: space-between;
  border: 1px solid var(--color-border);
  flex-direction: column;
  padding: var(--padding-contall);
  border-radius: 5px;
  gap: var(--gap-min);
  width: 100%;
}
body .main section .cards .card .code {
  color: #ccc;
  border: 1px solid var(--color-border-dark);
  font-size: var(--code-size);
  width: 100%;
  overflow-y: auto;
}
body .main section .cards .card .code code .declaration {
  display: inline-flex;
  padding: var(--padding-contall);
}
body .main section .cards .card .code code .declaration span.tag {
  color: #2d7fd6;
}
body .main section .cards .card .code code .declaration span.atributo {
  color: #83cfff;
}
body .main section .cards .card .code code .declaration span.valor {
  color: #ce8454;
}
body .main section .cards .card .code code .declaration span.metodo {
  color: #ffee90;
}
body .main section .cards .card .code code .declaration span.parenteses {
  color: #fffb00;
}
body .main section .cards .card .code code .tab {
  margin: -40px 0 -40px 30px;
}
body .main section ol {
  margin-left: 20px;
}
body .footer {
  display: flex;
  justify-content: center;
  background: var(--bg-dark1);
  padding: var(--padding-contall);
  position: fixed;
  width: 100%;
  bottom: 0;
}
body .footer section {
  display: flex;
  width: 100%;
  max-width: var(--largura-content);
}
body .footer section div {
  background: var(--dentificador);
}

@media screen and (max-width: 1440px) {
  section {
    margin-right: 12px;
  }
}
@media screen and (max-width: 860px) {
  .header-aula {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .header-aula section {
    margin: 0 auto;
    flex-direction: column;
    max-width: 500px !important;
  }
  .header-aula section .btns {
    justify-content: space-between;
    padding: 0;
    margin-top: var(--margin-contall);
    width: calc(100% - 3 * var(--padding-contall));
  }
  .header-aula section .btns .btn {
    width: 100%;
    text-align: center;
  }
  main {
    margin-bottom: 116px;
  }
  main hr {
    display: none;
  }
  main .cards {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */