@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    // cores
    --color-title-dark: #fff;
    --color-text-dark: #aaa;
    --bg-dark0: #151515;
    --bg-dark1: #202020;

    // Tamanho do texto
    --title-h1: 2em;
    --title-h2: 1.75em;
    --title-h3: 1.5em;
    --title-h4: 1.25em;
    --title-h5-h6: 1em;

    // Fontes
    --title: 'Roboto', 'Ubuntu', sans-serif;
    --texto: 'Ubuntu', sans-serif;

    // Botão jQuery
    --color-jq: #0765a8;
    --color-jq-hover: #fff;

    // Preenchimentos
    --padding-container: 20px;
    --padding-botao: 10px 20px;

    // Espaçamento
    --gap-min: 10px;
    --gap-med: 20px;
    --gap-max: 40px;

    // Tamanho do conteúdo
    --largura-content: 1000px;
}

body{
    font-family: var(--texto);
    background: var(--bg-dark0);
    color: var(--color-text-dark);

    .title{
        font-family: var(--title);
        color: var(--color-title-dark);

        h1{
            font-size: var(--title-h1);
        }

        h2{
            font-size: var(--title-h2);
        }

        h3{
            font-size: var(--title-h3);
        }

        h4{
            font-size: var(--title-h4);
        }

        h5, h6{
            font-size: var(--title-h5-h6);
        }
    }

    pre{
        background: var(--bg-dark0);
        margin: 0;
        display: inline-block;
        padding: 0 10px;
        color: #ccc;
        border: #aaa;

        span.tag{
            color: #2d7fd6;
        }

        span.atributo{
            color: #83cfff;
        }

        span.valor{
            color: #ce8454;
        }

        span.metodo{
            color: #dcba6b;
        }

        span.parenteses{
            color: #fffc39;
        }
    }

    a{
        color: var(--color-jq);
        font-weight: bold;
        text-decoration: none;

        &:hover{
            color: var(--color-jq-hover)
        }

        &.btn{
            display: inline-block;
            padding: var(--padding-botao);
            background: var(--bg-dark1);
            border-radius: 5px;
            transition: .5s;
            color: var(--color-jq-hover);

            &:hover{
                background: var(--color-jq);
            }
        }
    }

    .header-home{
        display: flex;
        justify-content: center;
        background: var(--bg-dark1);
        padding: var(--padding-container);

        section{
            background: red;
            display: flex;
            width: 100%;
            max-width: var(--largura-content);

            .logo{
                
                a{
                    display: flex;
                    align-items: center;
                    gap: var(--gap-min);
        
                    .jq-icon{
                        fill: var(--color-jq);
                        width: 38px;
                    }
        
                    .logotipo{
                        font-size: var(--title-h1);
                        font-weight: bold;
                        color: var(--color-title-dark);
                    }
                }
            }
        }
    }

    .main{
        display: flex;
        justify-content: center;
        
        section{
            width: 100%;
            max-width: var(--largura-content);
            padding: var(--gap-med);
            background: red;
        }
    }
}